
@{
    ViewBag.Title = "Hakkımızda";
}

<meta name="Description" CONTENT="Torrent oyun dizi film indirmek için en doğru adres. torrenttenidir.com adresine girip istediğinizi indirin.">
<meta name="keywords" content="Torrent oyun indir,filmi indir,program indir,torrent,indir,indirme sitesi,oyunu indir,türkçe dublaj indir,film sitesi,720p indir,1080p filmi indir,oyun indirme sitesi,torrent oyunlar,Dizi Film indir">

<div class="tab-content page">
    <div class="row">
        <h1 style="text-align: center; color: black;">torrenttenidir.com</h1>
        <p>
            &nbsp;<br><span style=" color: black;">torrenttenidir.com Son bahar ayların da sizlere daha iyi içerik verebilmek için yapılmış sadece indirme kısmında reklam bulunan en doğru ve hızlı bir şekilde hizmet vermeye karar vermiş bir içerik sitesi olarak hizmete başlamıştır.</span>
            <br>
            <span style=" color: black;">
                <br>

            </span>
        </p>
        <div>
        </div>
        <p>
            <br>
            <span style=" color: black;">
                Eğer ki siz de bizlere destek vermek , gözden kaçırdığımız bir içerik olursa kullanıcı oluşturup siz de bizim gibi içerik paylaşabilirsiniz. Bizim amacımız evet sizlere en doğru yolda içerik vermek istemiş olabilir ancak bazı zamanlar da gözden kaçanlar olabiliyor ve siz yakalıyorsunuz bunları bizlere yardımcı olabilir ister yorum yaparsınız ekleriz isterseniz kullanıcılarımıza sizler paylaşabilirsiniz sadece üye olup bunu sağlayabilirsiniz sizlere şimdiden teşekkür ediyorum iyi günler dilerim.

            </span><br><span style=" color: white;"></span>
        </p><blockquote class="tr_bq"><p>Mayıs 2020</p></blockquote><p></p><div></div>
    </div>
</div>

